@import "menu";
@import "home";
@import "products";
@import "noticias";
@import "piep";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body {
    margin: 0;
    background-color: rgba(230, 230, 230, 0.8);
  }

  